
body {
    background-image: url("../images/report-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.balaImg {
    position: relative;
    max-width: 60%; 
    margin: auto;
    margin-top: 135px;
/*    border: 1px solid red;*/
}
.mappingConte{
  position: relative;
  margin:  0 auto;
  padding: 0 20px;
  text-align: center;
  /* width: 64%; */
}
.y1 { top: calc(100% - 26.5%);}
.y2 { top: calc(100% - 16.4%);}
.y3 { top: calc(100% - 6.3%);}
.y4 { top: calc(100% - 28.2%);}
.y5 { top: calc(100% - 22.7%);}
.y6 { top: calc(100% - 16.7%);}
.y7 { top: calc(100% - 10.7%);}
.y8 { top: calc(100% - 5.3%);}

.x1 { position: absolute; left: calc(100% - 77.5%);}
.x2 { position: absolute; left: calc(100% - 63%);}
.x3 { position: absolute; left: calc(100% - 48%);}
.x4 { position: absolute; left: calc(100% - 20.9%);}
.balaImg span {
  display: none;
}

.nor_ {
  color: rgb(0, 255, 1);
  background-color: #073469;
}
.s_err {
  color: rgb(253, 255, 0);
  background-color: #073469;
}
.b_err {
  color: rgb(253, 0, 2);
  background-color: #073469;
}
.offline {
  color: white;
  background-color: gray; 
}
input{
    border-width: 0;
    background-color: transparent;
    max-width:82px;
    padding: 2px;
/*    height: 18px;*/
    font-size: 12px;
  border-radius: 2px;
}
@media only screen and (min-width: 850px) and (max-width: 1280px) {
  .balaImg {
  max-width:80%;
    
  }
}
@media only screen and (min-width: 450px) and (max-width: 849px) {
  .balaImg {
  max-width:95%;
    margin-top: 88px;
  }
  .balaImg input {
    width:85px;
    padding: 0 2px;
    font-size: 12px;
  }
  .balaImg h6 {
	font-size: 12px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 449px) {
  .balaImg {
  max-width:100%;
        margin: 20px;
    margin-top: 88px;
    margin-bottom: 0px;
  }
  .balaImg input {
    width:57px;
    padding: 0;
    font-size: 8px;
  }
  .balaImg h6 {
	font-size: 12px;
  }
}
